# Array
- 데이터를 나열하고 각 데이터를 인덱스에 대응하도록 구성한 데이터 구조
- 파이썬에서는 리스트 타입이 배열기능을 제공

### 1. 배열의 필요성
- 같은 종류의 데이터를 효율적으로 관리하기 위함
- 같은 종류의 데이터를 순차적으로 저장

### 2. 배열의 장단점
- 장점
    - 인덱스 주소를 사용해 빠른 접근 가능
- 단점
    - 데이터 추가/삭제 어려움
    - 미리 최대 길이를 지정해야 함


### 3. 파이썬과 C언어의 배열 차이

In [ ]:
#Array in C

#include <stdio.h>
int main() {
    char arr[3] = "US";
    printf("%c%c\n", arr[0], arr[1]);
    printf("%s\n", arr);
    return 0;
}

In [2]:
#Array in Python

arr = "US"
print("before:\t", arr)

arr += 'A'
print("after:\t", arr)

before:	 US
after:	 USA

### 4. 파이썬 배열 사용법

In [3]:
#1차원 배열

##리스트 구현
arr = [1, 2, 3, 4, 5]
print(arr)

##요소 접근
print(arr[0])

[1, 2, 3, 4, 5]
1

In [4]:
#2차원 배열

##리스트 구현
arr = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(arr)

##요소 접근
print(arr[0][0])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
1

### 5. 배열 사용 연습
#### 연습1: 위의 2차원 배열에서 9, 8, 7 출력하기

In [5]:
row = len(arr)-1
col = len(arr[row])-1

for a in range(col, -1, -1):
    print(arr[row][a])

9
8
7

#### 연습2: 다음 dataset에서 전체 이름 안에 M이 몇번 나왔는지 빈도수 출력하기

In [8]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [10]:
cnt = 0
for data in dataset:
    for idx in range(len(data)):
        if(data[idx] == 'M'):
            cnt+=1

print("M의 빈도수:", cnt)

M의 빈도수: 38